/*GENERAL*/

.align-center{
    align-items: center;
}

.align-baseline{
    align-items: baseline;
}

.justify-center{
    justify-content: center;
}

.justify-baseline{
    justify-content: baseline;
}

.justify-between{
    justify-content: space-between;
}


/*FLEX*/

.flex{
    display: flex;
    gap: var(--default-gap);
}

.direction-column{
    flex-direction: column;
}

.flex-grow{
    flex-grow: 1;
}


/*GRID*/

.grid{
    display: grid;
    gap: var(--default-gap);
}

.columns-2{
    grid-template-columns: 1fr 1fr;
}

.columns-3{
    grid-template-columns: 1fr 1fr 1fr;
}

.columns-4{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.column-start-1{
    grid-column-start: 1;
}

.column-start-2{
    grid-column-start: 2;
}